DATABASE_URL=""
JWT_SECRET=""
JWT_EXPIRY="30d"
WHATSAPP_TOKEN=""
WHATSAPP_PHONE_ID=""
WHATSAPP_BUSINESS_ACCOUNT_ID=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_WHATSAPP_NUMBER="whatsapp:+14155238886"
FIREBASE_PROJECT_ID=""
FIREBASE_PRIVATE_KEY=""
FIREBASE_CLIENT_EMAIL=""
NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_APP_ID=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
AWS_REGION="ap-south-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET="yaatri-documents"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_CONCIERGE_WHATSAPP=""
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""
